<body>
  <div class="container container-pad" style="margin-top: 250px;">
    <h1 class ="welcome-text">
      Tired of Excel Sheets? 
    </h1>
    <h2 class ="welcome-text">
      Take attendance with just one click!
    </h2>
    <%= link_to "Click Here", home_path, class: 'welcome-browse-link btn btn-primary btn-lg'%>
  </div>
</body>
