.cca-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 25px;
}

.cca-chart {
  width: 600px;
  height: 400px;
}

.cca-review-card-outer {
  max-width: 540px;
}

.cca-review-card-image {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.cca-review-user-image {
  width: 100px;
  height: 100px;
}

.cca-review-user-text {
  margin-left: 12px;
}

.cca-image-download-icon {
  margin-left: 263px;
}

.cca-location {
  color: #ffffff;
}

.cca-overall-ratings {
  color: #bbbbbb;
}

.cca-opening-hours {
  color: #bbbbbb;
}

.cca-opening-days {
  color: #bbbbbb;
}

.review-login-button {
  margin-top: 50px;
}

.review-login-link {
  color: #ffffff;
}

.review-delete-link {
  color: #ffffff;
}

.cca-item-card-outer {
  max-width: 540px;
}

.cca-item-card-image {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.cca-item-user-image {
  width: 100px;
  height: 100px;
}

.cca-item-user-text {
  margin-left: 12px;
}
