.new-back-btn {
  margin-top: 10px;
}

.new-col {
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 30px;
}

.heading {
  text-shadow: none;
  margin-top: 15px;
}

.form-head {
  margin-top: 15px;
}

.form-btn {
  margin-bottom: 15px;
}
