body {
  background-image: image-url("sieushi_graphic_designer_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 60px;
}

.navbar-custom {
  background-color: #000000;
}

.container-pad {
  margin-left: 730px;
  margin-top: 200px;
  width: 770px;
}

.welcome-text {
  color: #ffffff;
}

.welcome-browse {
  border: none;
}

.welcome-browse-link {
  color: #ffffff;
  text-decoration: none;
}
